<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/cssadmin.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <title>Admin</title>
</head>

<body>

    <div class="grid wide">
        <%- include('./partials/header'); %>




            <div class="bodyy">
                <div class="row">
                    <div class="col m-3 left">
                        <div class="dashboard">
                            <ul class="dashboard-list">
                                <li class="dashboard-item active">User</li>

                                <li class="dashboard-item">Tin Tức</li>
                                <li class="dashboard-item">Thông Báo Văn Bản</li>
                                <li class="dashboard-item">Sơ Đồ Tổ Chức</li>

                            </ul>
                        </div>
                    </div>

                    <div class="col m-9">
                        <div class="dashboard-content">
                            <table style="width:100%">
                                <tr>
                                    <th>Họ Và Tên</th>
                                    <th>Username</th>
                                    <th style="width:300px">Email</th>
                                    <th>Rules</th>
                                    <th style="width:120px"><a href="/admin/adduser" class="add">
                                            <i class='bx bx-add-to-queue'></i>
                                            Thêm
                                        </a></th>
                                </tr>
                                <% for(let i=0 ; i < acc.length; i++ ){ %>
                                    <tr>
                                        <td>
                                            <%=acc[i].surname%>
                                                <%=acc[i].name%>
                                        </td>
                                        <td>
                                            <%=acc[i].user%>
                                        </td>
                                        <td>
                                            <%=acc[i].Email%>
                                        </td>
                                        <td>
                                            <% if (acc[i].role===0) { %>
                                                <p> Admin</p>
                                                <%} else { %>
                                                    <p> User </p>
                                                    <% } %>

                                        </td>
                                        <td>
                                            <div class="handle1">
                                                <div class="handle">

                                                    <button>

                                                        <a href="/admin/edituser/<%=acc[i].id   %>" class="edit">

                                                            Sửa
                                                        </a>
                                                    </button>
                                                </div>
                                                <div class="handle">
                                                    <form action="/admin/userdelete" method="post">
                                                        <input type="text" hidden name="id" value=" <%=acc[i].id%>">
                                                        <button>


                                                            Xóa

                                                        </button>
                                                    </form>
                                                </div>
                                            </div>



                                        </td>
                                    </tr>
                                    <%} %>

                            </table>

                        </div>



                        <div class="dashboard-content hiden">
                            <a href="/admin/addnews" class="add">
                                <i class='bx bx-add-to-queue'></i>
                                Thêm

                            </a>
                            <% for(let i=0 ; i < news.length; i++ ){ %>
                                <div class="news">
                                    <div class="new-img">
                                        <a href="">
                                            <img src="<%=news[i].thump%>" alt="">
                                        </a>
                                    </div>
                                    <div class="news-title">
                                        <div class="news-heading">


                                            <a href="">
                                                <%=news[i].heading%>
                                            </a>


                                        </div>
                                        <div class="news-summary">
                                            <p>
                                                <%=news[i].title%>
                                            </p>
                                            <span>29/11/2023</span>
                                        </div>
                                    </div>
                                    <div class="handle1">
                                        <div class="handle">
                                            <form action="/admin/editnews/<%=news[i].id%>" method="get">

                                                <input type="text" hidden name="edit" value="<%=news[i].id%>">
                                                <button type="submit">
                                                    Sửa
                                                </button>
                                            </form>
                                        </div>

                                        <div class="handle">
                                            <form action="/admin/delete" method="post">
                                                <input type="text" hidden name="deletenew" value=" <%=news[i].id%>">
                                                <button type="submit">Xóa
                                                </button>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                                <%} %>

                        </div>
                        <div class="dashboard-content hiden">
                            <a href="/admin/addttvb" class="add">
                                <i class='bx bx-add-to-queue'></i>
                                Thêm

                            </a>
                            <table class="content-table">
                                <tr>
                                    <th>Số Văn Bản</th>
                                    <th style="width: 55%;">Tiêu Đề</th>
                                    <th>Download</th>
                                    <th></th>

                                </tr>
                                <% for(let i=0 ; i < ttvb.length; i++ ){ %>
                                    <tr>
                                        <td>
                                            <%=ttvb[i].sovb%>
                                        </td>
                                        <td style="text-align: start;">
                                            <%=ttvb[i].title%>
                                        </td>
                                        <td><a href="<%=ttvb[i].linkfile%>">Download</a></td>
                                        <td class="handle1">
                                            <div class="handle">
                                                <button><a href="/admin/editttvb/<%=ttvb[i].id%>">Sửa</a></button>

                                            </div>
                                            <div class="handle">
                                                <form action="admin/deletettvb" method="post">
                                                    <input type="text" name="id" hidden value="<%=ttvb[i].id%>">
                                                    <button type="submit">Xóa</button>
                                                </form>
                                            </div>

                                        </td>

                                    </tr>
                                    <%} %>

                            </table>

                        </div>
                        <div class="dashboard-content hiden">
                            <a href="/admin/addsdtc" class="add">
                                <i class='bx bx-add-to-queue'></i>
                                Thêm

                            </a>
                            <table class="content-table sdtc">
                                <% for(let i=0 ; i < sdtc.length; i++ ){ %>
                                    <div class="body-manager">
                                        <div class="body-manager-img">

                                            <img src="/<%=sdtc[i].img %> " alt="">
                                        </div>
                                        <div class="manager-title">
                                            <h4>
                                                <%=sdtc[i].chucvu %>
                                            </h4>
                                            <p>Trình độ chuyên môn: T<%=sdtc[i].tdcm %>







                                            </p>
                                            <p>Trình độ LLCT: <%=sdtc[i].tdllct %>
                                            </p>
                                            <p>Điện thoại văn phòng:
                                                <%=sdtc[i].sdtvp %>
                                            </p>
                                            <p> Điện thoại di động: <%=sdtc[i].sdtdt %>
                                            </p>
                                            <p> Email: <a href="mailto: <%=sdtc[i].Email %>">
                                                    <%=sdtc[i].Email %>
                                                </a>
                                            </p>
                                            <p>
                                                Phòng Ban:
                                                <% for(let i=0 ; i < sdtc.length; i++ ){ %>

                                                    <% if (sdtc[i].role===1) { %>
                                                        Ban Giám Đốc
                                                        <%} %>

                                                            <% if (sdtc[i].role===2) { %>
                                                                <p> 1!!!</p>
                                                                <%} %>

                                                                    <% if (sdtc[i].role===3) { %>
                                                                        <p> 2!!!</p>
                                                                        <%} %>

                                                                            <% if (sdtc[i].role===4 ) { %>
                                                                                <p> 3!!!</p>
                                                                                <%} %>
                                                                                    <%} %>
                                            </p>
                                        </div>
                                        <div class="handle">

                                            <button><a href="/admin/editsdtc/<%=sdtc[i].id%>">Sủa</a></button>

                                        </div>
                                        <div class="handle">
                                            <form action="/admin/deletesdtc" method="post">
                                                <input type="text" value="<%=sdtc[i].id%>" name="id" hidden>
                                                <button>


                                                    </i>Xóa</button>
                                            </form>
                                        </div>
                                    </div>
                                    <%} %>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
    </div>
    </div>

    <%- include('./partials/footer'); %>

        <script src="/js/jsadmin.js"></script>
        <script src="/js/jquery-3.6.3.min.js"></script>
        <script src="js/index.js"></script>


</body>

</html>