<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/gtdetail.css">
    <title>Document</title>
</head>

<body>

    <%- include('./partials/header'); %>
        <div class="grid wide">
            <div class="body">
                <div class="container">
                    <div class="row">
                        <div class="col m-9">
                            <div class="link">
                                <a href="/">Trang Chủ</a>
                                <i class='bx bx-chevron-right'></i>
                                <a href="/news">Tin Tức</a>

                            </div>
                            <div class="body">
                                <% for(let i=0 ; i < role.length; i++ ){ %>

                                    <% if (role[i].role===1) { %>
                                        <h2>Ban Giám Đốc</h2>
                                        <%} %>

                                            <% if (role[i].role===2) { %>
                                                <p> 1!!!</p>
                                                <%} %>

                                                    <% if (role[i].role===3) { %>
                                                        <p> 2!!!</p>
                                                        <%} %>

                                                            <% if (role[i].role===4 ) { %>
                                                                <p> 3!!!</p>
                                                                <%} %>
                                                                    <%} %>
                                                                        <% for(let i=0 ; i < role.length; i++ ){ %>
                                                                            <div class="body-manager">
                                                                                <div class="body-manager-img">

                                                                                    <img src="/<%=role[i].img %> "
                                                                                        alt="">
                                                                                </div>
                                                                                <div class="manager-title">
                                                                                    <h4>
                                                                                        <%=role[i].chucvu %>
                                                                                    </h4>
                                                                                    <p>Trình độ chuyên môn: T
                                                                                        <%=role[i].tdcm %>







                                                                                    </p>
                                                                                    <p>Trình độ LLCT: <%=role[i].tdllct
                                                                                            %>
                                                                                    </p>
                                                                                    <p>Điện thoại văn phòng:
                                                                                        <%=role[i].sdtvp %>
                                                                                    </p>
                                                                                    <p> Điện thoại di động:
                                                                                        <%=role[i].sdtdt %>
                                                                                    </p>
                                                                                    <p> Email: <a
                                                                                            href="mailto: <%=role[i].Email %>">
                                                                                            <%=role[i].email %>
                                                                                        </a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <%} %>
                            </div>
                        </div>
                        <div class="col m-3">
                            <%- include('./partials/sidebar'); %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer'); %>
            </div>
            <script src="/js/jquery-3.6.3.min.js"></script>
            <script src="/js/index.js"></script>
</body>

</html>